.footer{
    background: rgb(28,0,87);
background: linear-gradient(90deg, rgba(28,0,87,1) 0%, rgba(28,0,87,1) 22%, rgba(55,0,87,1) 30%);
   
    padding: 70px;
  color: white;
}
.inputtext{
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 22vw;
}
a{
    color: white;
}